.header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.container {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: right;
    position: absolute;
    top: 0;
    left: 0;
}


@media (min-width: 640px) {

    .header {
        height: 40rem;
    }

    .container {
        background-color: blue;
        height: 40rem;
    }

    .logo {
        width: 10rem;
    }
}


@media (min-width: 1280px) {
    .header {
        height: 50rem;

    }

    .container {
        background-color: green;
        height: 50rem;
    }
}