.menu {
    width: 100%;
    height: 50rem;
    background-size: cover;
    background-position: right ;
    position: absolute;
    gap: 2rem;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.icon {
    display: block;
    position: absolute;
    top: 5rem;
    right: 2rem;
}

.item {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.link {
    color: #fff;
    font-size: 3rem;
}