.item {
    width: 32%;
    margin-top: 1rem;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;;
}

.img {
    display: block;
}

.overlay  {
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: height 0.2s;
}

.item:hover .overlay {
    height: 100%;
}

.overlayInf {
    color: #fff;
    display: none;
}

.item:hover .overlayInf {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;;
    align-items: center;
    justify-content: center;

}