.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form {
    width: 85%;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
    border-radius: 1.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.formContainer {
    width: 100%;
    padding: 1.6rem 2.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formContainerTop {
    width: 100%;
    display: block;
}

.formContainerBottom {
    width: 100%;
    display: flex;
}



.inputContainer {
    width: 100%;
    height: 4rem;
    max-height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    position: relative;
}

.formContainerBottom .inputContainer {
    border-bottom: none
}

.formContainerBottom .inputContainer:last-child {
    border-left: 1px solid #ededed;
    width: 30%;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: .5rem;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}


::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
}

.inputs {
    width: 100%;
    height: 5.5rem;
    margin-top: 1rem;
    background-color: #00aff5;

}

.button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
}

.item:hover .nameRover {
    text-decoration: underline;
}

@media (min-width: 640px) {
    .formContainerTop {
        display: flex;
    }
}



@media (min-width: 1280px) {
    .container {
        margin-bottom: 3rem;
    }
    .formContainer {
        flex-direction: row;
        padding: 0;
        
    }

    .form {
        flex-direction: row;
        align-items: center;;
    }

    .inputContainer {
        border: none;
    }

    .inputs {
        width: 20%;
        margin: 0;
    }

}